[Desktop Entry]
Version=1.0
Name=Glest Map Editor
Comment=Glest map editor
Exec=glest_editor
Icon=glest
Terminal=0
Type=Application
Categories=Application;Game;StrategyGame;
StartupNotify=false
